* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
    border-bottom: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.1;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    box-shadow: rgba(0, 0, 0, 0.1) 2 2 5 2px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    border-radius: 14px;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 2px;
    margin: 4px 4px 4px 10px;
}

#workspaces button:hover {
    background:  #666666;
    transition: background-color 0.5s ease;
    border: 1.2px solid white;
    margin: 4px 4px 4px 10px;
}

#workspaces button.active {
    background: linear-gradient(50deg, #c27ba0, #6fa8dc, #666666);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
    border: 1.2px solid black;
    margin: 4px 4px 4px 10px;
}

#workspaces button.focused {
    background-color: #ffffff;
    box-shadow: inset 0 -3px #ffffff;
    border: 1.2px solid black;
    margin: 4px 4px 4px 10px;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#battery,
#disk,
#backlight,
#wireplumber,
#custom-media,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd,

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    box-shadow: rgba(0, 0, 0, 0.1) 2 2 5 2px;
    color: rgba(145, 221, 230, 1);
    background-color: #1a1b26;
    border-radius: 14px;
    padding: 0px;
    padding-right: 6px;
    padding-left: 6px;
    margin: 4px 3px 4px 3px;
}

#battery {
    box-shadow: rgba(0, 0, 0, 0.1) 2 2 5 2px;
    background-color: #1a1b26;
    color: #ffb43b;
    border-radius: 14px;
    padding: 0px;
    padding-right: 6px;
    padding-left: 6px;
    margin: 4px 3px 4px 3px;
}

#battery.charging, #battery.plugged {
    box-shadow: rgba(0, 0, 0, 0.1) 2 2 5 2px;
    background-color: #1a1b26;
    color: #ffb43b;
    border-radius: 14px;
    padding: 0px;
    padding-right: 6px;
    padding-left: 6px;
    margin: 4px 3px 4px 3px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    box-shadow: rgba(0, 0, 0, 0.1) 2 2 5 2px;
    background-color: #1a1b26;
    color: #ffb43b;
    border-radius: 14px;
    padding: 0px;
    padding-right: 6px;
    padding-left: 6px;
    margin: 4px 3px 4px 3px;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}
#disk,
#backlight {
    box-shadow: rgba(0, 0, 0, 0.1) 2 2 5 2px;
    color: #7aa2f7;
    background-color: #1a1b26;
    border-radius: 14px;
    padding: 0px;
    padding-right: 6px;
    padding-left: 6px;
    margin: 4px 3px 4px 3px;
}

#network.disconnected {
    box-shadow: rgba(0, 0, 0, 0.1) 2 2 5 2px;
    color: #6fd6a8;
	background-color: #1a1b26;
	border-radius: 14px;
	padding: 0px;
	padding-right: 6px;
	padding-left: 6px;
	margin: 4px 3px 4px 3px;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#custom-weather {
    box-shadow: rgba(0, 0, 0, 0.1) 2 2 5 2px;
    color: #ffb43b;
    background-color: #1a1b26;
    border-radius: 14px;
    padding: 0px;
    padding-right: 6px;
    padding-left: 6px;
    margin: 4px 3px 4px 3px;
}

#custom-mediaplayer {
    box-shadow: rgba(0, 0, 0, 0.1) 2 2 5 2px;
    color: #ffffff;
	background-color: #1a1b26;
    border-radius: 14px;
	padding: 0px;
	padding-right: 6px;
	padding-left: 6px;
	margin: 4px 3px 4px 3px;
}

#pulseaudio {
    box-shadow: rgba(0, 0, 0, 0.1) 2 2 5 2px;
    color: #7aa2f7;
	background-color: #1a1b26;
	border-radius: 14px;
    padding: 0px;
    padding-right: 6px;
	padding-left: 6px;
	margin: 4px 3px 4px 3px;
}

#pulseaudio.muted {
    box-shadow: rgba(0, 0, 0, 0.1) 2 2 5 2px;
    color: #7aa2f7;
	background-color: #1a1b26;
	border-radius: 14px;
    padding: 0px;
    padding-right: 6px;
	padding-left: 6px;
	margin: 4px 3px 4px 3px;
}

#network {
    box-shadow: rgba(0, 0, 0, 0.1) 2 2 5 2px;
    color: #6fd6a8;
	background-color: #1a1b26;
	border-radius: 14px;
	padding: 0px;
	padding-right: 6px;
	padding-left: 6px;
	margin: 4px 3px 4px 3px;
}

#cpu {
    box-shadow: rgba(0, 0, 0, 0.1) 2 2 5 2px;
	color: rgba(232, 184, 252, 1);
	background-color: #1a1b26;
	border-radius: 14px;
	padding: 0px;
	padding-right: 6px;
	padding-left: 6px;
	margin: 4px 3px 4px 3px;
}

#memory {
    box-shadow: rgba(0, 0, 0, 0.1) 2 2 5 2px;
    color: #ffb43b;
	background-color: #1a1b26;
	border-radius: 14px;
	padding: 0px;
	padding-right: 6px;
	padding-left: 6px;
	margin: 4px 3px 4px 3px;
}

#temperature {
    box-shadow: rgba(0, 0, 0, 0.1) 2 2 5 2px;
    color: rgba(145, 221, 230, 1);
	background-color: #1a1b26;
	border-radius: 14px;
	padding: 0px;
	padding-right: 6px;
	padding-left: 6px;
	margin: 4px 3px 4px 3px;
}

#tray {
    box-shadow: rgba(0, 0, 0, 0.1) 2 2 5 2px;
	background-color: #1a1b26;
	border-radius: 14px;
	padding: 0px;
	padding-right: 10px;
	padding-left: 10px;
	margin: 4px 8px 4px 3px;
}

#custom-updater {
    box-shadow: rgba(0, 0, 0, 0.1) 2 2 5 2px;
    color: rgba(232, 184, 252, 1);
	background-color: #1a1b26;
	border-radius: 14px;
	padding: 0px;
	padding-right: 10px;
	padding-left: 10px;
	margin: 4px 3px 4px 3px;
}

#bluetooth {
	box-shadow: rgba(0, 0, 0, 0.1) 2 2 5 2px;
	background-color: #1a1b26;
	border-radius: 14px;
	padding: 0px;
	padding-right: 10px;
	padding-left: 10px;
	margin: 4px 3px 4px 3px;
}

#custom-power {
	box-shadow: rgba(0, 0, 0, 0.1) 2 2 5 2px;
	color: #fa6f5c;
	background-color: #1a1b26;
	border-radius: 14px;
	padding: 0px;
	padding-right: 10px;
	padding-left: 10px;
	margin: 4px 10px 4px 3px;
}

#custom-clipboard {
	box-shadow: rgba(0, 0, 0, 0.1) 2 2 5 2px;
		color: rgba(145, 221, 230, 1);
		background-color: #1a1b26;
		border-radius: 14px;
		padding: 0px;
		padding-right: 10px;
		padding-left: 10px;
		margin: 4px 10px 4px 3px;
}
